:root {
    --background: #ffffff;
    --foreground: #111827;
}

.dark {
    --background: #111827;
    --foreground: #f3f4f6;
}

body {
    background: var(--background);
    color: var(--foreground);
}

@theme {
  --animate-slide-up: slide-up 0.25s ease-out;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}